[flake8]
max-line-length = 120
ignore =
  E203  # whitespace before ':'; conflicts with black
  W503  # line break before binary operator; conflicts with black
exclude =
  .git,
  .tox,
  __pycache__,
  build,
  dist,
  requirements,
  venv,
